@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Quicksand&family=Solway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* navbar start */

.nav {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    font-family: 'DM Sans', sans-serif;
    padding: 0 120px;
}

.logo {
    height: 140px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    gap: 90px;
}

span {
    color: #ff7300;
}

.home {
    cursor: pointer;
}

ul li {
    cursor: b;
}

ul li:hover {
    color: #698921;
}

/* navbar end */

/* hero section start */

.content {
    display: flex;
    justify-content: center;
    padding: 50px 150px 0 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 135px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.htb {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hl {
    color: #698921;
    font-size: 6.5rem;
    font-family: 'Solway', serif;
}

.text {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

.rm {
    width: 130px;
    height: 45px;
    background-color: #ff7300;
    color: white;
    border: none;
    border-radius: 50px;
    letter-spacing: 2.5px;
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
}

.img {
    width: 650px;
}

/* hero section end */

/* footer start */

.last {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.sm {
    display: flex;
    gap: 15px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    background-color: #698921;
    color: white;
}

.mcb {
    font-size: 1.20rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

/* footer end */